<%= render "shared/header" %>
<div class='main'>

<%# / 一覧表示機能 %>
  <div class='item-contents'>
    <h2 class='title'>全国一覧表示</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>

    <% @item.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
          <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" if item.image.attached? %>
        </div>
        <div class='item-info'>
          <h3 class='item-title'>
            <%= item.title %>
          </h3>
          <div class='item-price'>
             <span><%#= item.where_to_buy.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <br>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
<%# / 一覧表示機能 %>

